<template>
  <div>
    <h2>Welcome Home :)</h2>
    <button @click="counter++">Click me {{ counter }}</button>
  </div>
</template>

<script>
console.log("POL here 1");
export default {
  data: () => ({
    counter: 0
  })
}
</script>

<style>

</style>